body{
  background-color: #000000;
  color: white;
  overflow: hidden;
}

h1{
  text-align: center;
}

.todo-wrapper{
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}